

<header>
        <style type="text/css">
            .navi {
                background-color: #B7CEEC;
                padding: 20px;
                
            }
        
            @media (min-width: 768px) {
              html {
                font-size: 16px;
              }
            }
        
            .pricing-header {
              max-width: 700px;
            }
            .card-deck .card {
              min-width: 220px;
            }
        </style>
        
        <!-- Header -->
        <div class="navi">
                <h8>IMS Password Reset</h8>
            
        </div>
        
        
        <!-- End Header -->
        

</header>


<body>
    <h2>Reset Password</h2>
<h3>Enter your new password</h3>
<form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
</form>
</body>
</html>